@import './colors.css';

.skills-title {
  color: var(--cyan-mirage);
}

.about-title {
  color: var(--yellow-mirage);
}

.experience-title {
  color: var(--green);
}


.language-title {
  color: var(--cyan);
}

