---
import cv from '@/cv';
import Layout from '@/layouts/Layout.astro';

import Me from '@/components/Me.astro';
import Skills from '@/components/Skills.astro';
import About from '@/components/About.astro';
import Languages from '@/components/Languages.astro';
import Education from '@/components/Education.astro';
import Experience from '@/components/Experience.astro';
import Projects from '@/components/Projects.astro';

const { name } = cv;
---

<Layout title={`${name}`} >
  <main>
    <Me />
    <Skills />
    <About />
    <Languages />
    <Education />
    <Experience />
    <Projects />
  </main>

  <style>
    main {
      margin: auto;
      width: 100%;
    }

    @media (width <= 720px) {
      main {
        padding: 2rem;
      }
    }
  </style>
</Layout>

<style>
</style>
