---
import Section from '@/components/Section.astro';
import cv from '@/cv';

---

<Section title="About" titleClass="about-title">
  <div class="about">
    {cv.summary.map((summary) => (
      <p>{summary}</p>
    ))}
  </div>
</Section>

<style>
.about {
  line-height: 1.6;
}
</style>
