---
import Section from '@/components/Section.astro';
import cv from '@/cv';

---

<Section title="About" titleClass="about-title">
  {cv.summary.map((summary) => (
    <p>{summary}</p>
  ))}
</Section>

<style>
</style>
