---
const { title, titleClass } = Astro.props;
---

<section>
  {title && <h1 class={titleClass}>{title}</h1>}
  <slot />
</section>

<script>
</script>

<style>
  section {
    max-width: 800px;
    margin: 0 auto 48px;
  }

  @media (width <= 700px) {
    section {
      margin-bottom: 38px;
    }
  }
</style>
