---
import '@/styles/global.css';
import '@/styles/colors.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ignacio Perez's personal website</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

body {
  background-color: var(--gray-dark);
  color: var(--white);
  font-family: Fira Code, monospace;
}

.svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
}

</style>
